<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
           data-aos-delay="200">
        <h1>Let’s Teach & Learn</h1>
        <h2>Refreshing your ideas and broadening your visions</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <button mat-button [routerLink]="['/tests']" class="btn-get-started">
            <mat-icon>rule</mat-icon>
            Pass a Test</button>
          <button mat-button [routerLink]="['/questions']" class="btn-suggest-question">
            <mat-icon>lightbulb</mat-icon>
            Suggest a Question
          </button>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/img-4.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>

<main id="main">

  <section id="cliens" class="cliens section-bg">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/spring-logo.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/devops.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/Java-Logo.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/angular-logo.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/php_PNG12.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../../assets/img/technologies/magento-logo.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section>
</main>
